<div class="company-list">
    <h2>Companies</h2>
    <button routerLink="/companies/new" class="btn-add">Add Company</button>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies">
          <td>{{ company.name }}</td>
          <td>{{ company.address }}</td>
          <td>{{ company.email }}</td>
          <td>
            <button (click)="editCompany(company._id)">Edit</button>
            <button (click)="deleteCompany(company._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  